# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem is summarized.

**Objectives:**
* List popular languagues for Data Science
* List commonly used libraries used for Data Science
* List development environment open source data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. SciPy

|Data Science Tools|
------------------
|Jupyter Notebooks|
|R Studio|
|Jupyterlab|

### Below are a few examples of evaluating arithmetic expressions in python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Kwame Boa-Amponsem